---
import { educations } from "../data/education";
---

<!-- TODO poner solo 4, los mas importantes y crear un boton para que se desplegue o abra otra pagina de todas mis formaciones, cursos, diplomados, ect... -->
<section class="py-16 bg-gray-900">
  <div class="max-w-6xl mx-auto px-4 sm:px-0 lg:px-0">
    <h2 class="text-3xl font-bold text-white mb-8">Formación</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      {
        educations.map((education) => (
          <div class="education-card relative bg-gray-800 p-4 rounded-lg overflow-hidden z-[1]">
            <div class="flex items-start">
              <div class="flex-shrink-0 mr-4">
                <a
                  href={education.url}
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <img
                    src={education.logoUrl}
                    alt={`Logo de ${education.institution}`}
                    class="w-16 h-16 object-contain"
                  />
                </a>
              </div>
              <div class="flex-grow">
                <div class="flex items-center justify-between">
                  <h3 class="text-xl font-semibold text-white">
                    {education.title}
                  </h3>
                  {education.certificateUrl && (
                    <a
                      href={education.certificateUrl}
                      target="_blank"
                      rel="noopener noreferrer"
                      class="group"
                    >
                      <img
                        src={education.iconUrl}
                        alt="Verificar certificado"
                        class="w-8 h-8 transition-transform duration-200 ease-in-out transform hover:scale-125 [filter:invert(1)] group-hover:[filter:invert(0.5)_sepia(1)_saturate(5000%)_hue-rotate(200deg)]"
                      />
                    </a>
                  )}
                </div>
                <p class="text-gray-400">{education.institution}</p>
                <p class="text-sm text-gray-500">{education.date}</p>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>

<style>
  .education-card {
    transition: all 0.3s ease-in-out;
  }

  .education-card::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0;
    background: linear-gradient(90deg, #3b82f6, #60a5fa, transparent);
    transition: width 0.3s ease-in-out;
    box-shadow: 0 0 50px 0 rgba(59, 130, 246, 0.4);
    border-radius: 50%;
  }

  .education-card:hover::after {
    width: 200%;
  }

  .education-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(59, 130, 246, 0.1);
  }
</style>
