---
import ProjectCard from '../components/ProjectCard.astro';
import { projects } from '../data/proyects';
---

<div class="mt-20">
  <h2 class="text-3xl font-bold mb-6">Mis Proyectos</h2>
  <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-2">
    {projects.map((project) => (
      <ProjectCard
        title={project.title}
        imageUrl={project.imageUrl}
        description={project.description}
        technologies={project.technologies}
        githubUrl={project.githubUrl}
        projectUrl={project.projectUrl}
      />
    ))}
  </div>
</div>