---
import { skills } from "../data/skills";
import MovingBorder from "./MovingBorder.astro";

const categories = [
  "Backend",
  // "Frontend",
  "Frameworks",
  // "Librerias",
  "Gestores de Bases de Datos",
  "Infraestructura",
  "QA & Testing",
] as const;

// Función para determinar el estilo del grid basado en el número de elementos
const getGridClass = (itemCount: number) => {
  switch (itemCount) {
    case 2:
      return "grid-cols-2";
    case 3:
      return "grid-cols-3";
    case 4:
      return "grid-cols-4";
    case 5:
      return "grid-cols-5";
    case 6:
      return "grid-cols-6";
    default:
      return "grid-cols-4";
  }
};
---

<div class="w-full max-w-6xl space-y-8 bg-gray-900 rounded-lg">
  <h2 class="text-3xl font-bold mb-8 text-white">Mis Habilidades</h2>

  {
    categories.map((category) => {
      const categorySkills = skills.filter(
        (skill) => skill.category === category,
      );
      const gridClass = getGridClass(categorySkills.length);

      return (
        <MovingBorder className="mb-8 group">
          <h3 class="absolute right-4 top-0 -translate-y-1/2 rounded-full border border-gray-700 bg-gray-900 px-4 py-1 uppercase tracking-tight text-xs text-white mb-12">
            {category}
          </h3>
          <ul class={`grid ${gridClass} gap-8`}>
            {categorySkills.map((skill) => (
              <li class="flex justify-center">
                <div class="relative flex flex-col items-center">
                  <img
                    src={skill.icon}
                    alt={skill.name}
                    class="w-16 h-16 mb-2 hover:scale-110 hover:-translate-y-2 transition-transform duration-300"
                  />
                  <span class="absolute bottom-0 transform translate-y-4 opacity-0 group-hover:opacity-100 group-hover:translate-y-4 transition-all duration-300 bg-gray-800 text-white text-xs rounded-md px-2 py-1">
                    {skill.name}
                  </span>
                </div>
              </li>
            ))}
          </ul>
        </MovingBorder>
      );
    })
  }
</div>
